/* .App {
  font-family: sans-serif;
  text-align: center;
}
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
#root {
  width: 100%;
}
body {
  min-height: 100vh;
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
} */
html{
  scroll-behavior: smooth;
}

.neue{
  font-family: neue;
}


@font-face{
  font-family: booska;
  src: url(./fonts/Boska-Variable.ttf);
}

.booska{
  font-family: booska;
}

@font-face{
  font-family: stardom;
  src: url(./fonts/Stardom-Regular.otf);
}

.stardom{
  font-family: stardom ;
}
.roboto {
  font-family: "Roboto Serif", serif;
  font-optical-sizing: auto;
}